/* 메인 */

/* 바디 */
body{
  background-color: #fff;
  font-family:  'Nanum Gothic';
}

/* 헤더 */
#header{
  height: 250px;
}

#header .header_menu{
  text-align: center;
  margin: 15px 0 15px 0;
}
#header .header_menu a{
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding: 8px 0 6px 10px;
  transition: color 0.57s ease;
  margin-left:30px;
  margin-right: 30px;
}
#header .header_menu a:hover{
  color: #2e7d32;
}

#header .header_tit{
  margin-top: 30px;
  text-align: center;
}
#header .header_tit h4{
  font-size: 20px;
  color: #fff;
  background-color:#2e7d32;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  margin-bottom: -20px
}
#header .header_tit h1{
  font-size: 50px;
  color: #fff;
  background-color: #4caf50;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  margin-top: 5px;
}

/* 배너 */
#banner .banner_img{
  text-align: center;
}
#banner .banner_img_fix{
  width: 1200px;
  height: auto;
  margin-bottom: 5%;
}

/* 절차과정 */
#progress{
  text-align: center;
  border : 5px solid #2e7d32;
  margin-left: 5%;
  margin-right: 5%;
}
#progress article {
  float: left;
  width: 33%;
}
#progress div{
  margin-top: 50px;
}
#progress h2{
  font-size: 25px;
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#progress h3{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#progress span{
  font-size: 18px;
  line-height: 200%;
}

/* 푸터 */
.footer{
  text-align: center;
  padding: 30px 0 30px 0;
}

/* @@@@@@@@@@삭제 예정@@@@@@@@@@@@@따라다니는 맨위로 박스   */
/* main a.top {
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #4caf50;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
main a.Home {
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #4caf50;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
} */
/* @@@@@@@@@@삭제 예정@@@@@@@@@@@@@*/

/* 서비스 안내 */
.advantage{
  text-align: center;
  margin-bottom: 70px;
  border : 5px solid #2e7d32;
  margin-left: 5%;
  margin-right: 5%;
}
.advantage .advantage_title{
  font-size: 30px;
  margin: 5% 0 10% 0;
  font-weight: bold;
}
.advantage .advantage1_explain1{
  font-size: 20px;
  margin: 5% 5% 150px 5%;
  line-height: 200%;
}
.advantage .advantage1_explain2{
  font-size: 20px;
  line-height: 200%;
  margin: 5% 5% 10% 5%;
}


.sv_section1 .service1{
  text-align: center;
  text-decoration: overline;
  font-size: 40px;
  font-weight: bold;
  margin: 50px 0 50px 0;
}
.sv_section1 .service1_1{
  text-align: center;
  font-size: 20px;
  margin: 0 150px 0 150px;
  word-break: keep-all;
  line-height: 300%;
}
.sv_section1 .service1_2{
  text-align: center;
  margin: 5%;
}
.price1{
  margin-top: 50px;
}

.sv_section1{
  border : 5px solid #2e7d32;
  margin-left: 5%;
  margin-right: 5%;
}
.sv_section2 .service2{
  text-align: center;
  text-decoration: overline;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sv_section2 .service2_1{
  text-align: center;
  font-size: 20px;
  margin: 0 150px 0 150px;
  word-break: keep-all;
  line-height: 300%;
}
.sv_section2 .service2_2{
  padding: 1%;
  position: relative;
  text-align: center;
}
.sv_section2 .service2_2 .service_img2_2{
  margin-top: 50px;
}
.price2{
  margin-top: 50px;
}
table{
  width: 90%;
  margin: 0 auto;
  border-collapse : collapse;
  font-size: 25px;
}
th{
  border: 3px solid #4caf50;
}
td{
  border: 3px solid #4caf50;
  text-align: center;
}

.p3{
  margin-bottom: 20px;
}



/* 문의사항 */
.QA_title1{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: black;
}
.QA_section1{
  display: block;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
  animation: flashText 1s ease-out alternate infinite;
}
@keyframes flash{
  to {
    opacity: 1;
  }
}
@keyframes flashText {
  to {
    opacity: 0.9;
  }
}

.QA_section1 .QA1{
  text-align: center;
  margin-top: 50px;
}


.QA_section1 .QA2{
  text-align: center;
  margin-top: 40px;
}

/* 텍스트 이펙트 */
.effect {
	-webkit-animation: effect 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: effect 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-18 17:31:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation effect
 * ----------------------------------------
 */
@-webkit-keyframes effect {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes effect {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* 미디어쿼리 */
@media (max-width: 1300px){
  #progress span{word-break: keep-all;}
}
/* 화면크기 0 ~ 1240px */
@media (max-width: 1240px){
  #header{width: 100%;}
  #banner .banner_img_fix{width: 90%; margin: 0 5% 5% 5%;}
  .sv_section1 .service1_2{margin: 5% 5% 5% 5%;}
  .service1_2 img{width: 100%;}
  .service2_2 img{width: 100%;}
}
/* 화면크기 0 ~ 1024px */
@media (max-width: 1024px){

}
/* 화면크기 0 ~ 960px */
@media (max-width: 960px){

}
/* 화면크기 0 ~ 768px */
@media (max-width: 768px){
  .sv_section1 .service1_1{margin: 0 5px 0 5px;}
  .sv_section2 .service2_1{margin: 0 5px 10px 5px;}
  #progress h2{font-size: 23px;}
}
/* 화면크기 0 ~ 650px */
@media (max-width: 650px){
  #header .header_menu a{display: block;}
  #progress div{
    clear:both;
    height:240px;
    width: 100%;
  }
  #banner .banner_img_fix{
    margin-top: 20%;
  }
  .effect{margin-top: 15%;}
}
/* 화면너비 0 ~ 480px */
@media (max-width: 480px){
  #progress {margin-top: 30px;}
  #header .header_tit h1{font-size: 35px;}
  #header .header_tit h4{
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 425px){
  .advantage img{width: 50%;}
  .advantage .advantage_title{font-size: 23px;}
  .advantage .advantage1_explain1{font-size: 20px;}
  .advantage .advantage1_explain2{font-size: 20px;}
  .sv_section1 .service1_1{font-size: 17px;}
  .sv_section2 .service2_1{font-size: 20px;}
  .QA_section1 .QA1{font-size: 40px;}
}
/* 화면너비 0 ~ 320px */
@media (max-width: 320px){
  #progress h2{font-size: 22px;}
}
